@model IEnumerable<PO_project.Models.Pytanie>

<link rel="stylesheet" href="~/css/pytanie.css" />

@{
    ViewData["Title"] = "Index";
}

<div class="ankieta">
    <h1>Ankieta zainteresowań</h1>


<p>
    Chcesz wybrać studia, które liczą się na rynku pracy i będą zgodne z Tobą? A konkretniej: z Twoimi zainteresowaniami, uzdolnieniami...
    Rozwiąż krótki test preferencji. Ten test to rodzaj zabawy/quizu, w której będziesz udzielać odpowiedzi na kolejne pytania. Na tej
    podstawie otrzymasz wynik, czyli podpowiedź w postaci kilku proponowanych kierunków studiów na PWr. Może uda nam się trafić w Twój gust
    i któryś kierunek okaże się strzałem w dziesiątkę!
</p>

</div>


<hr class="solid">

<div class="surveyButtons">
    @if (Model.First().PytanieId != 1)
    {
        <button class="surveyButton" onclick="window.location.href='@Url.Action("Index", "Pytanie", new { id = Model.First().PytanieId - 2 })'">Cofnij</button>
    }
    @if (Model.First().PytanieId != 5)
    {
        <button class="surveyButton" onclick="window.location.href='@Url.Action("Index", "Pytanie", new { id = Model.First().PytanieId })'">Dalej</button>
    }
</div>


<p class="questionNumber">Pytanie @Model.First().PytanieId / 5</p>
<h5>@Model.First().Tresc</h5>

@if (Model.First().PytanieId == 5)
{
    <form method="post" id="recomendationsForm">
        @foreach (var odpowiedz in @Model.First().Odpowiedzi)
        {
            <div class="radioGroup">
                <input type="radio" id="@odpowiedz.OdpowiedzId" name="answer5" value="@odpowiedz.OdpowiedzId">
                <label for="@odpowiedz.OdpowiedzId">@odpowiedz.Tresc</label>
            </div>
        }

        <input class="inputSurvey" type="submit" value="Zakończ">
    </form>
}
else
{
    <form id="questionForm" data-question-id="@Model.First().PytanieId">
        @foreach (var odpowiedz in @Model.First().Odpowiedzi)
        {
            <div class="radioGroup">
                <input type="radio" id="@odpowiedz.OdpowiedzId" name="answer" value="@odpowiedz.Tresc">
                <label for="@odpowiedz.OdpowiedzId">@odpowiedz.Tresc</label>
            </div>
        }
    </form>
}

<script>
    document.getElementById("recomendationsForm").addEventListener("submit", function () {
        var selectedRadioButton = document.querySelector('input[name="answer5"]:checked');

        if (selectedRadioButton) {
            var selectedValue = selectedRadioButton.value;
            this.action = "@Url.Action("Recomendations", "Pytanie")?answer5=" + selectedValue;

            for (var key in sessionStorage) {
                if (key.startsWith("question_")) {
                    sessionStorage.removeItem(key);
                }
            }
        }
    });
</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        function saveSelection(questionId, selectedValue) {
            sessionStorage.setItem("question_" + questionId, selectedValue);
        }

        function getSavedSelection(questionId) {
            return sessionStorage.getItem("question_" + questionId);
        }

        var form = document.getElementById("questionForm");
        var questionId = form.getAttribute("data-question-id");

        var radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(function (radioButton) {
            radioButton.addEventListener("change", function () {
                var selectedValue = radioButton.value;
                saveSelection(questionId, selectedValue);
            });
        });

        var previousSelection = getSavedSelection(questionId);
        if (previousSelection) {
            var radioButtonToCheck = document.querySelector('input[value="' + CSS.escape(previousSelection) + '"]');
            if (radioButtonToCheck) {
                radioButtonToCheck.checked = true;
            }
        }
    });
</script>
