@model IEnumerable<PO_project.Models.Kierunek>

<link rel="stylesheet" href="~/css/Kierunek.css" />

@{
    ViewData["Title"] = "Index";
}


<div>
    <h1>Przegląd listy kierunków</h1>
</div>

@* <div>
    <h4>Wydział</h4>
    <select id="wydzial" name="wydzial">
        <option value="0">Wszystkie</option>
        @foreach (var item in Model.Select(x => x.Wydzial).Distinct())
        {
            <option value="@item.WydzialId">@item.Name</option>
        }
    </select>
</div> *@

<div>
    <h4>Tryb</h4>
    <select id="tryb" name="tryb">
        <option value="0">Wszystkie</option>
        @foreach (var item in Model.Select(x => x.Tryb).Distinct())
        {
            <option value="@item.TrybId">@item.Name</option>
        }
    </select>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-3 card">
                <a asp-action="Details" asp-route-id="@item.KierunekId"> 
                    @item.Name
                    <p> @item.Tryb.Name </p>
                    
                </a>
            </div>
        }
    </div>
</div>
